@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(92% 0.004 286.32);
  --color-base-300: oklch(87% 0 0);
  --color-base-content: oklch(44% 0.011 73.639);
  --color-primary: oklch(39% 0.195 277.366);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(44% 0.177 26.899);
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: oklch(80% 0.105 251.813);
  --color-accent-content: oklch(28% 0.091 267.935);
  --color-neutral: oklch(70% 0.191 22.216);
  --color-neutral-content: oklch(26% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

/* Mantemos esta regra para garantir que o hover funcione no teu ambiente de desenvolvimento */
@variant hover (&:hover);

@theme {
  /* Escala de Azul (Baseada no #024a9b) */
  --color-azul-100: #e6f0f9;
  --color-azul-200: #204d74; /* Sua referência */
  --color-azul-300: #1a6ab5;
  --color-azul-400: #0a5cb1;
  --color-azul-500: #024a9b; /* Sua referência (Base) */
  --color-azul-600: #023d80;
  --color-azul-700: #012f63;

  /* Escala de Vermelho (Baseada no #e81616) */
  --color-red-100: #fde8e8;
  --color-red-200: #d43f3a; /* Sua referência */
  --color-red-300: #f05252;
  --color-red-400: #f13c3c;
  --color-red-500: #e81616; /* Sua referência (Base) */
  --color-red-600: #c81010;
  --color-red-700: #9b0d0d;
}

@layer base {
  body {
    font-family: var(--font-main);
    background-color: var(--color-bg-main);
    color: var(--color-secondary-500);
    @apply antialiased;
  }
}
